.main-chat
  .main-chat__group-info
    .info-leftbox
      .info-leftbox__group--name
        = @group.name
      %ul.info-leftbox__group--member
        member :
        - @group.users.each do |user|
          %li.info-leftbox__group--member
            = user.name

    .info-rightbox
      = link_to "Edit", "edit"
  %ul.main-chat__message-list
    = render @messages

  .main-chat__message-form
    = form_for [@group, @message] do |f|
      .input-box
        .text
          = f.text_field :content, class: 'text-message', placeholder: 'type a message'
          = f.label :image, class: 'image' do
            = icon('fas', 'image', class: 'icon')
            = f.file_field :image, class: 'hidden'
        = f.submit 'Send',class: 'submit-btn'
       